@use './variable.scss' as var;

.layout {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 220px 1fr;
  animation: .3s sideOpen forwards alternate;
  .side {
    width: 100%;
    max-width: 220px;
    background-color: var.$color_bg-medium;
    box-sizing: border-box;
    border-right: 2px solid var.$color_bg-dark;
  }
  .main {
    display: grid;
    grid-template-rows: 60px 1fr;
    
    .container {
      background-color: var.$color_bg-medium;
      padding: 24px;
    }
  }
}


.side-collapsed {
  grid-template-columns: 80px 1fr;
  animation: .3s sideCollapsed forwards alternate;
}
@keyframes sideCollapsed {
  0% {
    grid-template-columns: 220px 1fr;
  }
  100% {
    grid-template-columns: 80px 1fr;
  }
}
@keyframes sideOpen {
  0% {
    grid-template-columns: 80px 1fr;
  }
  100% {
    grid-template-columns: 220px 1fr;
  }
}