@use './variable.scss' as var;
.menu {
  display: grid;
  grid-template-rows: 60px 1fr;
  background-color: var.$color_bg-medium;
  .top {
    box-sizing: border-box;
    border-bottom: 2px solid var.$color_bg-dark;
    white-space: nowrap;
    overflow: hidden;
    padding: 12px;
    display: flex;
    align-items: center;
    .logo {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-right: 12px;
      position: relative;
      left: 0;
      transition: all 1s;
    }
  }
}
.menu-collapsed {
  .top {
    .logo {
      margin-right: 0;
      position: relative;
      left: 12px;
    }
    .sysName {
      visibility: hidden;
    }
  }
}
