
$color_primary: #2BC888;
$color_secondary: #3078E5;
$color_accent: #F7AD55;

$color_text-dark: #081A2A;      // 黑
$color_text-medium: #656565;    // 中灰色
$color_text-light: #999999;     // 浅灰色
$color_text-lighter: #CCCCCC;   // 更浅灰色
$color_text-lightest: #E7E7E7;  // 非常浅的灰色

$color_bg-medium: #f7f7fb;
$color_bg-dark: #f1f1f6;